*.json
*.props
*.cache
*.editorconfig
*.pdb
*.cache
*.v2
*.dll
*.txt
*.suo
*.AssemblyAttributes.cs
*.AssemblyInfo.cs
*.exe
*.CopyComplete
*.targets
BattlefieldGameLibrary/bin/Debug/netcoreapp3.1/BattlefieldGameLibrary.dll
BattlefieldGameLibrary/bin/Debug/netcoreapp3.1/BattlefieldGameLibrary.pdb
BattlefieldGameLibrary/bin/Debug/netcoreapp3.1/PeopleLibrary.dll
BattlefieldGameLibrary/bin/Debug/netcoreapp3.1/PeopleLibrary.pdb
BattlefieldGameLibrary/obj/BattlefieldGameLibrary.csproj.nuget.dgspec.json
BattlefieldGameLibrary/obj/BattlefieldGameLibrary.csproj.nuget.g.props
BattlefieldGameLibrary/obj/Debug/netcoreapp3.1/BattlefieldGameLibrary.assets.cache
BattlefieldGameLibrary/obj/Debug/netcoreapp3.1/BattlefieldGameLibrary.csproj.AssemblyReference.cache
BattlefieldGameLibrary/obj/Debug/netcoreapp3.1/BattlefieldGameLibrary.csproj.CoreCompileInputs.cache
BattlefieldGameLibrary/obj/Debug/netcoreapp3.1/BattlefieldGameLibrary.csproj.FileListAbsolute.txt
BattlefieldGameLibrary/obj/Debug/netcoreapp3.1/BattlefieldGameLibrary.dll
BattlefieldGameLibrary/obj/Debug/netcoreapp3.1/BattlefieldGameLibrary.GeneratedMSBuildEditorConfig.editorconfig
BattlefieldGameLibrary/obj/Debug/netcoreapp3.1/BattlefieldGameLibrary.pdb
BattlefieldGameLibrary/obj/project.assets.json
BattlefieldGameLibrary/obj/project.nuget.cache
ConsoleUI/obj/ConsoleUI.csproj.nuget.dgspec.json
ConsoleUI/obj/ConsoleUI.csproj.nuget.g.props
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.assets.cache
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.csproj.CoreCompileInputs.cache
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.csproj.FileListAbsolute.txt
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.GeneratedMSBuildEditorConfig.editorconfig
ConsoleUI/obj/project.assets.json
ConsoleUI/obj/project.nuget.cache
PeopleLibrary/bin/Debug/netcoreapp3.1/PeopleLibrary.dll
PeopleLibrary/bin/Debug/netcoreapp3.1/PeopleLibrary.pdb
PeopleLibrary/obj/Debug/netcoreapp3.1/PeopleLibrary.assets.cache
PeopleLibrary/obj/Debug/netcoreapp3.1/PeopleLibrary.csproj.FileListAbsolute.txt
PeopleLibrary/obj/Debug/netcoreapp3.1/PeopleLibrary.dll
PeopleLibrary/obj/Debug/netcoreapp3.1/PeopleLibrary.GeneratedMSBuildEditorConfig.editorconfig
PeopleLibrary/obj/Debug/netcoreapp3.1/PeopleLibrary.pdb
PeopleLibrary/obj/PeopleLibrary.csproj.nuget.dgspec.json
PeopleLibrary/obj/PeopleLibrary.csproj.nuget.g.props
PeopleLibrary/obj/project.assets.json
PeopleLibrary/obj/project.nuget.cache
