
*.json
*.props
*.cache
*.editorconfig
BattlefieldGameLibrary/obj/BattlefieldGameLibrary.csproj.nuget.dgspec.json
BattlefieldGameLibrary/obj/BattlefieldGameLibrary.csproj.nuget.g.props
BattlefieldGameLibrary/obj/Debug/netcoreapp3.1/BattlefieldGameLibrary.assets.cache
BattlefieldGameLibrary/obj/Debug/netcoreapp3.1/BattlefieldGameLibrary.GeneratedMSBuildEditorConfig.editorconfig
BattlefieldGameLibrary/obj/project.assets.json
BattlefieldGameLibrary/obj/project.nuget.cache
ConsoleUI/obj/ConsoleUI.csproj.nuget.dgspec.json
ConsoleUI/obj/ConsoleUI.csproj.nuget.g.props
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.assets.cache
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.GeneratedMSBuildEditorConfig.editorconfig
ConsoleUI/obj/project.assets.json
ConsoleUI/obj/project.nuget.cache
PeopleLibrary/obj/Debug/netcoreapp3.1/PeopleLibrary.assets.cache
PeopleLibrary/obj/Debug/netcoreapp3.1/PeopleLibrary.GeneratedMSBuildEditorConfig.editorconfig
PeopleLibrary/obj/PeopleLibrary.csproj.nuget.dgspec.json
PeopleLibrary/obj/PeopleLibrary.csproj.nuget.g.props
PeopleLibrary/obj/project.assets.json
PeopleLibrary/obj/project.nuget.cache
*.pdb
*.dll
*.txt
*.cs
*.cache
*.v2
*.dll
*.pdb
*.cache
*.txt
